@font-face{
    font-family: "montserrat-Medium";
    src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat-Medium";
    font-weight: bold;
}
.web h1{
    font-size: 40px;
    margin-left: 30px;
    font-weight: bolder;
}
.web h2{
    margin-left: 30px;
}
.mobile{
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
    gap: 10px;
  padding:60px;
                   
}
.mob1 {
    width: 350px;
    height: 300px;
}
.back{
    width: 300px;
    height: 250px;
    position:relative;
    background-size: cover;
    background-image: url("/src/assets/images/captivating-designs.jpg");
}

.back:hover .overlay {
    width: 100%;
  }
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:black;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
.overlay h4{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left:50%;
    margin-top: 70px;
    font-size: 15px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  
}
.mob2{
    width: 500px;
    height: 400px;
    border: 1px solid black;
    background-color: #fbac94;
}
.mob2 p{
    margin-top: 50px;
    margin-left: 30px;
    font-weight: bold;
}
.mob2 h2 {
    margin-top: 100px;
    margin-left: 30px;
    font-weight: bolder;
}
.mob3 {
    background-image: url("/src/assets/images/web-app.jpg");
    width: 350px;
    height: 400px;
    background-size: cover;
    position: relative;
}

.mob3:hover .over {
    width: 100%;
  }
.over{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:black;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  .overlay a{
    color:#fff;
  }
  .over a{
    color: #fff;
  }
.over h4{
    color: white;
    position: absolute;
    top: 70px;
    left:50%;
    font-weight: bold;
    margin-top: 70px;
    line-height: 15px;
    font-size: 15px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    gap: 20px;
}
.mob4 {
    width: 350px;
    height: 250px;
    position: relative;
    background-image: url("/src/assets/images/blockchain.jpg");
    background-size: cover;
}

.mob4:hover .overlay {
    width: 100%;
  }
.mob5 {
    width: 350px;
    height: 250px;
    position: relative;
    background-image: url("/src/assets/images/cloud-integration.jpg");
    background-size: cover;
}

.mob5:hover .overlay {
    width: 100%;
  }
.mob6 {
    width: 300px;
    height: 250px;
    position: relative;
    background-image: url("/src/assets/images/outcome-driven.jpg");
    background-size: cover;
}

.mob6:hover .overlay {
    width: 100%;
  }
.lay{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    margin-left: 60px;
}