* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Medium";
  font-size: bold;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(./assets/fonts/Montserrat-Medium.ttf);
}
.footer {
  background-color: #fff;
  box-shadow: 0 0 19.36px 2.64px rgb(20 21 27 / 8%);
  padding: 50px;
}
.footer-logo {
  font-size: 11px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  /* background-color: #fff; */
  justify-content: space-evenly;
  gap: 50px;
  padding: 80px;
  /* box-shadow: 0 0 19.36px 2.64px rgb(20 21 27 / 8%); */
}
.who-we-are-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.who-we-are-menu p {
  color: grey;
}
.who-we-are-menu a {
  color: black;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: grey;
}
.who-we-are-menu a:hover {
  text-decoration-color: black;
}
.carrer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.carrer button {
  background-color: #e42c38;
  color: white;
  border: none;
  font-size: 10px;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 0 0 19.36px 2.64px rgb(20 21 27 / 8%);
}

/* guide */
.guide {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.guide p {
  color: grey;
}
.guide a {
  color: #e42c38;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: grey;
}
.guide a:hover {
  text-decoration-color: black;
}

/* dedicated */

.dedicated {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dedicated p {
  color: grey;
}
.dedicated a {
  color: black;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: grey;
}
.dedicated a:hover {
  text-decoration-color: black;
}

/* resources */

.resources {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resources p {
  color: grey;
}
.resources a {
  color: black;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: grey;
}
.resources a:hover {
  text-decoration-color: black;
}

/* services */

.services-app {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services-app p {
  color: grey;
}
.services-app a {
  color: black;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: grey;
}
.services-app a:hover {
  text-decoration-color: black;
}
.services-app {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services-app p {
  color: grey;
}
.services-app a {
  color: black;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: grey;
}
.services-app a:hover {
  text-decoration-color: black;
}

/* country */

.country-india {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* contact */

.contact-menu h5 {
  font-weight: lighter;
}

.contact-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-menu p {
  color: grey;
}
.contact-menu a {
  color: black;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: grey;
}
.contact-menu a:hover {
  text-decoration-color: black;
}
.contact-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-menu p {
  color: grey;
}
.contact-menu a {
  color: black;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: grey;
}
.contact-menu a:hover {
  text-decoration-color: black;
}
/* footer content */

.footer-content {
  display: grid;
  grid-template-areas:
    "who-we-are-menu  resources"
    "who-we-are-menu resources"
    "who-we-are-menu resources"
    "dedicated guide";
  gap: 40px;
}

/* bottom */

.bottom-footer {
  border: solid black;
  width: 100%;
}

.bottom {
  gap: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.bottom-hr {
  border: 0.1px solid black;
  width: 100%;
}

/* feature */

.featured-in {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 30px;
}
.featured-in h1 {
  font-weight: bold;
  font-style: inherit;
}
.guardian {
  width: 285.148px;
  height: 80px;
  background-color: black;
  padding: 10px;
}
.forbes {
  width: 285.148px;
  height: 80px;
  background-color: black;
  padding: 10px;
}
.telegraph {
  width: 285.148px;
  height: 80px;
  background-color: black;
  padding: 30px;
}
