@font-face{
    font-family: "montserrat-Medium";
    src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat-Medium";
    font-weight: bold;
}
.hold{
    background-color: rgb(240, 232, 233);
}
.hold h1{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 30px;
}
.hold p {
    font-size: 20px;
    margin-left: 30px;
}
.grid{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding:40px;
    
}
.i1{

    height: 200px;
    width: 350px;
}
.i1 hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
    
}
.i1 h4{
    font-size: 16px;
    color: rgb(73, 71, 71);
}
.i1 h3{
    font-size: 30px;
}
.i2{
    
    height: 200px;
    width: 350px;
}
.i2 hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
    
}
.i2 h4{
    font-size: 16px;
    color: rgb(73, 71, 71);
}
.i2 h3{
    font-size: 30px;
}
.i3{
    
    height: 200px;
    width: 350px;
}

.i3 hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
    
}
.i3 h4{
    font-size: 16px;
    color: rgb(73, 71, 71);
}
.i3 h3{
    font-size: 30px;
}

.i4{
    
    height: 200px;
    width: 350px;
}

.i4 hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
    
}
.i4 h4{
    font-size: 16px;
    color: rgb(73, 71, 71);
}
.i4 h3{
    font-size: 30px;
}

.i5{
    
    height: 200px;
    width: 350px;
}

.i5 hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
    
}
.i5 h4{
    font-size: 16px;
    color: rgb(73, 71, 71);
}
.i5 h3{
    font-size: 30px;
}

.i6{
    
    height: 200px;
    width: 350px;
}

.i6 hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
    
}
.i6 h4{
    font-size: 16px;
    color: rgb(73, 71, 71);
}
.i6 h3{
    font-size: 30px;
}
.hold button{
    display: inline-block;
    background-color: #02789e;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Proxima Nova Rg';
    font-weight: 700;
    margin: 0 auto;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .5s;
    border: 2px solid transparent;
    margin-left: 50px;
}
@media (max-width: 480px) {
}