* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Medium";
  font-size: bold;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(./assets/fonts/Montserrat-Medium.ttf);
}
.main-logo {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 25px 0 15px;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 19.36px 2.64px rgb(20 21 27 / 8%);
}
.main-logo a {
  text-decoration: none;
  color: #14151b;
  font-weight: bold;
  padding: 15px 15px 15px;
}
.para {
  width: 120px;
  margin: 8px 16px 0 0;
  font-size: 12px;
}

.btn a {
  border: 1px solid gray;
  padding: 10px;
  color: red;
}
.btn a:hover {
  background-color: red;
  color: white;
}

.brand {
  width: 80px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url(/src/assets/icons/amdoc.svg);
  background-image: url(/src/assets/icons/bpl.svg);
  animation-name: inherit;
  animation-duration: 1s;
}

@keyframes example {
  from {
    background-image: url(/src/assets/icons/amdoc.svg);
  }
  to {
    background-image: url(/src/assets/icons/bpl.svg);
  }
}

/* @keyframes blink-animation {
  to {
    visibility: hidden;
    background-image: url(/src/assets/icons/amdoc.svg);
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
    background-image: url(/src/assets/icons/amdoc.svg);
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;

    background-image: url(/src/assets/icons/bpl.svg);
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;

    background-image: url(/src/assets/icons/bpl.svg);
  }
} */

/* @keyframes mymove {
  0% {
    background-image: url(/src/assets/icons/amdoc.svg);
  }
  10% {
    background-image: url(/src/assets/icons/bpl.svg);
  }
  20% {
    background-image: url(/src/assets/icons/bpl.svg);
  }
  30% {
    background-image: url(/src/assets/icons/bpl.svg);
  }
  10% {
    background-image: url(/src/assets/icons/bpl.svg);
  }
  10% {
    background-image: url(/src/assets/icons/bpl.svg);
  }
  10% {
    background-image: url(/src/assets/icons/bpl.svg);
  }
} */

/*services*/

.services {
  float: left;
  overflow: hidden;
}

.services .service-btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: inherit;
}

.services:hover .service-btn {
  text-decoration: underline;
}

.service-btn {
  display: inline-block;
  position: relative;
}

.services:hover.service-btn a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.services.service-btn:hover::after {
  /* text-decoration: underline;
  text-decoration-color: gray; */
  transform: scaleX(1);
  transform-origin: bottom left;
}
.show-service-content {
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-areas:
    "app blockchain startup data"
    "app blockchain startup sales"
    "app blockchain startup dev"
    "ecom blockchain design GDPR";
}

.side-grid {
  gap: 20px;
  display: grid;
  grid-template-areas:
    "data"
    "sales"
    "dev"
    "GDPR";
}

.show-service-content > div {
  border-left: thick solid black;
  border-right: thin white;
  border-top: thin white;
  border-bottom: thick solid black;
}

.service-content {
  display: none;
  font-size: small;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(54, 28, 28, 0.2);
  z-index: 1;
}

.show-service-content a {
  display: block;
}
.service-content a {
  text-decoration: none;
}
.service-content h4 {
  background-color: black;
  color: white;
  padding: 10px;
}

/* .service-content a:hover {
  background-color: #ddd;
} */

.services:hover .service-content {
  text-decoration: underline;
  display: block;
}
.app {
  grid-area: app;
}
.blockchain {
  grid-area: blockchain;
}
.startup {
  grid-area: startup;
}
.data {
  grid-area: data;
}
.dev {
  grid-area: dev;
}
.GDPR {
  grid-area: GDPR;
}
.ecom {
  grid-area: ecom;
}
.design {
  grid-area: design;
}

/*technologies*/

.technologies {
  font-size: small;
  float: left;
  overflow: hidden;
}

.technologies .tech-btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: inherit;
}

.technologies:hover .tech-btn {
  text-decoration: underline;
  /* border: 2px solid black; */
}

.main-logo a:after {
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main-logo a:hover::after {
  /* text-decoration: underline;
  text-decoration-color: gray; */
  transform: scaleX(1);
  transform-origin: bottom left;
}
.show-tech-content {
  display: grid;
  grid-template-columns:
    auto auto
    auto auto;
  gap: 20px;
  padding: 10px;
}
.tech-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 850px;
  height: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
}
.tech-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.tech-content h4 {
  background-color: black;
  color: white;
  padding: 10px;
}
.show-tech-content > div {
  border-left: thick solid black;
  border-right: thin white;
  border-top: thin white;
  border-bottom: thick solid black;
}

.show-tech-content a {
  text-decoration: underline;
  text-decoration-color: gray;
}

.tech-content a:hover {
  text-decoration-color: black;
}

.technologies:hover .tech-content {
  display: block;
}

/*offshore*/

.offshore {
  font-size: small;
  float: left;
  overflow: hidden;
}

.offshore .off-btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: inherit;
}

.offshore:hover .off-btn {
  text-decoration: underline;
  /* border: 2px solid black; */
}

.main-logo a:after {
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main-logo a:hover::after {
  /* text-decoration: underline;
  text-decoration-color: gray; */
  transform: scaleX(1);
  transform-origin: bottom left;
}
.show-off-content {
  display: grid;
  grid-template-areas:
    "Hire-App Hire-Web Hire-JS offshore"
    "Hire-Full Hire-Block AR UI";
  gap: 20px;
  padding: 10px;
}
.off-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 700px;
  height: 800px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
}
.off-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.off-content h4 {
  background-color: black;
  color: white;
  padding: 15px;
}
.show-off-content > div {
  border-left: thick solid black;
  border-right: thin white;
  border-top: thin white;
  border-bottom: thick solid black;
}

.off-tech-content a {
  text-decoration: underline;
  text-decoration-color: gray;
}

.off-content a:hover {
  text-decoration-color: black;
}
.offshore:hover .off-content {
  display: block;
}

.Hire-App {
  grid-area: Hire-App;
}
.Hire-Web {
  grid-area: Hire-Web;
}
.Hire-JS {
  grid-area: Hire-JS;
}
.offshore {
  grid-area: offshore;
}
.Hire-Full {
  grid-area: Hire-Full;
}
.Hire-Block {
  grid-area: Hire-Block;
}
.AR {
  grid-area: AR;
}
.UI {
  grid-area: UI;
}

/*insustries*/

.industries {
  font-size: small;
  float: left;
  overflow: hidden;
}

.industries .industries-btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: inherit;
}

.industries:hover .industries-btn {
  text-decoration: underline;
  /* border: 2px solid black; */
}

.main-logo a:after {
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main-logo a:hover::after {
  /* text-decoration: underline;
  text-decoration-color: gray; */
  transform: scaleX(1);
  transform-origin: bottom left;
}
.show-industries-content {
  display: grid;
  grid-template-columns:
    auto auto
    auto auto;
  gap: 20px;
  padding: 10px;
}
.industries-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 300px;
  height: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 40px;
}
.industries-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.industries-content h4 {
  background-color: black;
  color: white;
  padding: 10px;
}
.show-industries-content > div {
  border-left: thick solid black;
  border-right: thin white;
  border-top: thin white;
  border-bottom: thick solid black;
}

.industries-content a:hover {
  background-color: #ddd;
}
.industries:hover .industries-content {
  display: block;
}

/* work */

.work {
  font-size: small;
  float: left;
  overflow: hidden;
}

.work .work-btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: inherit;
}

.work:hover .work-btn {
  text-decoration: underline;
  /* border: 2px solid black; */
}

.main-logo a:after {
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main-logo a:hover::after {
  /* text-decoration: underline;
  text-decoration-color: gray; */
  transform: scaleX(1);
  transform-origin: bottom left;
}
.show-work-content {
  display: grid;
  grid-template-columns:
    auto auto
    auto auto;
  gap: 40px;
  padding: 10px;
}
.work-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 300px;
  height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 40px;
}
.work-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.work-content h4 {
  display: block;
  background-color: black;
  color: white;
  padding: 10px;
}
.show-work-content a {
  border: 2px solid black;
}

.work-content a:hover {
  background-color: #ddd;
}
.work:hover .work-content {
  display: block;
}

/* who we are */

.who-we-are {
  font-size: small;
  float: left;
  overflow: hidden;
}

.who-we-are .who-we-are-btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: inherit;
}

.who-we-are:hover .who-we-are-btn {
  text-decoration: underline;
  /* border: 2px solid black; */
}

.main-logo a:after {
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main-logo a:hover::after {
  /* text-decoration: underline;
  text-decoration-color: gray; */
  transform: scaleX(1);
  transform-origin: bottom left;
}
.show-who-content {
  display: grid;
  grid-template-columns:
    auto auto
    auto auto;
  gap: 40px;
  padding: 10px;
}
.who-we-are-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 300px;
  height: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
}
.who-we-are-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.who-we-are-content h4 {
  display: block;
  background-color: black;
  color: white;
  padding: 10px;
}
.show-who-content > div {
  border-left: thick solid black;
  border-right: thin white;
  border-top: thin white;
  border-bottom: thick solid black;
}

.who-we-are-content a:hover {
  background-color: #ddd;
}
.who-we-are:hover .who-we-are-content {
  display: block;
}
