@font-face{
    font-family: "montserrat-Medium";
    src: url(../../../assets/fonts/Montserrat-Regular.ttf);
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat-Medium";
    font-weight: bold;
}
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:lightgrey;

}
.container h1 {
    margin-top: 30px;
    font-weight:bold;
    margin-left: 30px ;
}
.our{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #14151b;
    height: 100px;
    gap: 50px;
}
.con p {
    margin-top: 20px;
    margin-left: 30px;
}
.cont p {
    margin-top: 20px;
    margin-left: 30px;
}
.let{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
.let p {
    margin-left: 30px;
    margin-top: 20px;
}
.let h1{
    margin-top: 60px;
}
.us p {
    gap: 50px;
    
}